body {
    font-family: 'família=Saira:ital@1', sans-serif;

    background-image: url(../imagens/overwatch.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}

.cabecalho .titulo {
    color: rgb(128, 128, 128);
}

.cabecalho .logotipo {
    width: 25px;
    height: 25px;
}

.person-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 0;
}

.lista-person {
    width: 310px;
    height: 520px;
    position: relative;
}

.btn-seta {
    background-color: rgb(250, 220, 175);
    width: 60px;
    border-left-width: 5px;
    height: 55px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta:hover {
    background-color: #8351fe;
}

.cartao {
    opacity: 0;
    background-color: #8351fe;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 12px;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: opacity 0.3s ease-in-out;
}

.cartao.selecionado {
    opacity: 1;
    z-index: 1;
}

.fundo-1 {
    background: url(../imagens/logo.jpg) no-repeat;
}

.fundo-2 {
    background: url(../imagens/simbolo-genji.jpg) no-repeat;
}

.fundo-3 {
    background: url(../imagens/fundo-zeny.jpg) no-repeat;
}

.cartao .informacoes {
    background-color: rgba(179, 177, 185, 0.6);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.cartao .informacoes .nome {
    color: aliceblue;
    font-size: 22px;
    font-style: oblique;
}

.cartao .informacoes .vida {
    background-color: #333;
    color: aliceblue;
    padding: 6px 10px;
    border-radius: 14px;
}

.cartao .container-imagem .imagem-tracer {
    text-align: center;
}

.cartao .imagem-tracer {
    max-width: 100%;
    max-height: 440px;
}

.cartao .descricao {
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3px;
    padding-top: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.8) 100px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cartao .descricao .titulo {
    background-color: #333;
    color: aliceblue;
    font-size: 15px;
    padding: 4px;
    padding-bottom: 7px;
    
}

.cartao .descricao .texto {
    font-size: 14px;
    padding: 6px;
    text-align: justify;
}

.cartao .container-imagem .imagem-genji {
    text-align: center;
    padding-top: 100px;
}

.cartao .imagem-genji {
    max-width: 100%;
    max-height: 440px;
}

.cartao .container-imagem .imagem-genji {
    text-align: center;
    padding-top: 100px;
}

.cartao .imagem-genji {
    max-width: 100%;
    max-height: 440px;
}

#audio-start {display: none;}